<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
  </div>

  
  <%= source_helper("alert alert-info blog-sidebar-source") %>
  
  
  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/roman-lavery-software-dev/', class: 'social-btn button', target: '_blank' %></li>
      <li><%= link_to '<i class="fab fa-facebook-square"></i>'.html_safe, 'https://www.facebook.com/roman.lavery', class: 'social-btn', target: '_blank' %></li>
      <li><%= link_to '<i class="fab fa-twitter-square"></i>'.html_safe, 'https://twitter.com/Uthaeus', class: 'social-btn', target: '_blank' %></li>
      <li><%= link_to '<i class="fab fa-github"></i>'.html_safe, 'https://github.com/Uthaeus', class: 'social-btn', target: '_blank' %></li>
    </ol>
  </div>
</div>